* {
    margin: 0;
    padding: 0;
}

body {
    color: darkblue;
    font-family: 'Times New Roman', 'Georgia', 'Garamond', serif;
}

header {
    padding: 20px 35px;
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("..images/hero background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: darkblue;
    background-color: lightskyblue;
    margin: 0;
  }
  
  header a {
    color: darkblue;
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

  header nav ul li a:hover {
    background: darkblue;
    color: lightskyblue;
    border-radius: 15px;
  }

  .hero {
    background-image: url("../images/hero background.jpg");
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
  }

  .hero h2 {
    font-style: normal;
    font-size: 40px;
    background-color: lightskyblue;
    color: black;
    text-align: right;
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  main {
      width: auto;
      margin: 10px 10px 10px 10px
  }

  main section{
      display: flex;
      padding: 30px;
      position: relative
  }

  .section-title {
      text-align: right;
      margin-bottom: 20px;
      font-size: 36px;
      float: left;
      border-right: 2px solid darkblue;
      margin-left: 10px;
      width: 20%
  }

  main section p {
      display: flex;
      text-align: left;
      float: right;
      margin: 10px 0;
      margin-right: 20px;
      padding: 10px 15px;
      width: 80%;
  }

  .about-me {
      height: 70px;
  }

  .work {
      height: 500px;
  }

  .contact-me {
      height: 200px;
  }

  .contact-me nav {
    margin: 7px 0;
  }
  
  .contact-me nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  .contact-me nav ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }